@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(173, 173, 173);
}

.editor .close {
  align-self: flex-end;
  padding: 8px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: none;
  transition: all 0.5s;
  font-size: 1em;
}

.ql-container {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875em;
}

.ql-editor.ql-blank::before {
  color: #5e5e5e;
  content: attr(data-placeholder);
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  box-shadow: 0 0 black;
}

.card {
  display: inline-block;
  min-height: 150px;
  width: 300px;
  vertical-align: top;
}
